/*nav*/
#titre {
    /*position: fixed;*/
    float: left;
    margin-top: -5%;
    margin-left: 10%;
    color: #ffffff;
}
.menu{
    margin-top: -5%;
}

.box-search{
    margin-top: -5%;
}
.img_logo{
    height: 100px;
    width: 100px;
}

.img_logo{
    height: 100px;
    width: 100px;
    margin-top: 7px;
    margin-left: 5px;
}

nav {

    width: 100%;
}

nav ul {
    list-style: none;
    background: rgba(0,0,0,0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 1s;
}

nav.black ul {
    background: #000;
}

nav ul li {
    display: inline-block;
    padding-top: 20px;
    padding-left: 10%;
    padding-bottom: 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: 15px;
    color: #fff;

}

nav ul li a:hover{
    text-decoration: none;
    color: #44107A;
}

.menu-icon {
    width: 100%;
    background: #000;
    text-align: right;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

/*input search*/
/* Search 2 - expand input width */
.container-2{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    margin-top: -5%;
    float: right;
    display: inline-block;
}
.container-2 input#search{
    width: 50px;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #262626;
    padding-left: 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;


    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;

}

.container-2 input#search::-webkit-input-placeholder {
    color: #65737e;
}
.container-2 input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;
}
.container-2 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;
}
.container-2 input#search:-ms-input-placeholder {
    color: #65737e;
}

.container-2 .icon{
    position: absolute;
    top: -5%;
    margin-left: 15px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
}

/* ANIMATION EFFECTS */
.container-2 input#search:focus, .container-2 input#search:active{
    outline:none;
}
.container-2:hover input#search{
    outline:none;
    width: 300px;
}
.container-2:hover .icon{
    color: #93a2ad;
}
/*fin input search*/



/*fin nav*/